<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.women_security">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Women_security">
        <activity
            android:name=".chat_dtl"
            android:label="@string/title_activity_chat_dtl"
            android:theme="@style/Theme.Women_security.NoActionBar"></activity>
        <activity
            android:name=".landing"
            android:label="@string/title_activity_landing"
            android:theme="@style/Theme.Women_security.NoActionBar" />
        <activity android:name=".settings" />
        <activity android:name=".dashboard" />
        <activity android:name=".register" />
        <activity android:name=".login" />
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>